{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da busca</title>
    <link rel="stylesheet" href="{% static 'css/resultado.css' %}">
</head>

<body>

    <header class="cabecalho">
        <nav><a href="{% url 'home' %}">Voltar</a></nav>
    </header>

    <main class="listagem">

        {% if resultados %}

            {% for resultado in resultados %}
                <section class="node">
                    <h1><a href="{{ resultado.link }}"> {{ resultado.titulo }} </a></h1>
                    <a href="{{ resultado.link }}" class="link">{{ resultado.link }}</a>
                    <p class="pontos">Encontrados: {{ resultado.pontos }}</p>
                    <p class="descricao">{{ resultado.descricao }}</p>
                </section>
            {% endfor %}
        
        {% else %}
            <section class="node">
                <h1><a href="{% url 'home' %}"> Nenhum resultado encontrado</a></h1>
                <a href="{% url 'home' %}" class="link">página inicial</a>
                <p>Sua busca não localizou nenhum resultado! Tente outra vez.</p>
            </section>
        {% endif %}

        <a id="mostrarmais" style="width: 150px; background: #A770EF; padding: 3px 10px; color: #fff; margin: 10px calc(50% - 75px); border-radius: 5px;">Mostrar mais</a>
    </main>

    <script>
        var sites;
        var posicao;

        function inicializa() {
            sites = document.getElementsByClassName('node');
            posicao = 0;

            for (site of sites) {
                site.style.display = 'none';
            }
            
            carregar();
        }

        function carregar() {
            var contador = 0;
            
            while (posicao < sites.length && contador < 5) {
                if (sites[posicao] == undefined || sites[posicao] == null) {
                    break;
                } else {
                    sites[posicao].style.display = 'block';
                    contador++;
                    posicao++;
                }
            }

            someComBotao();
        }

        function someComBotao() {
            if (posicao >= sites.length) {
                document.getElementById('mostrarmais').style.display = 'none';
            }
        }

        addEventListener('load', inicializa);
        document.getElementById('mostrarmais').addEventListener('click', carregar);
    </script>
</body>

</html>